

.App {
  text-align: center;
}

body {
    padding: 5px;
    background-color: #A1D6E2;
    color: #0f5867;
}

/* NAVBAR */
.navbar {
    background-color: #DBF4F9;
    text-align: center;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #A1D6E2;
    color: #a9e1ee;
    border-radius: 30px 30px 30px 2px; 
}

/* PAGES  */
h1 {
    font-size: 50px;
    font-style: italic;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mb-3 {
    text-align: left;
    font-weight: bold;
    padding-bottom: 13px;

}

.form-control {
    background-color: #DBF4F9;
    border-color: #327583;
}

.btn {
    background-color: #DBF4F9;
    border-color: #327583;
    color: #0f5867;
    font-weight: bold;
}

.form {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 2px solid #0f5867;
    max-width: 500px;
    margin: 50px auto;
}
.form-floating {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    max-width: 500px;
    margin: 50px auto;
    font-style: italic;
}

    
